@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.banner{
  background: content-box center url(../public/images/banner.webp);
  width: 100%;
  height: 280px;
  background-color: aqua;
}

.banner__content{
  margin-top: -90px;
}

.banner__content_profile{
  border-radius: 50%;
  border: 7px solid #0a0a0a;
}

.banner__content_text{
  align-content: end;
}

.banner__text_name{
  font-weight: bold;
  font-size: 26px;
}

.banner__text_description{
  font-size: 18px;
  opacity: 80%;
}